/* Общие стили */
body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    margin: 0;
    padding: 0;
}

/* Контейнер для формы */
.register-vacancy-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF5E1;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
h1 {
    text-align: center;
    font-size: 24px;
    color: #4B4B4B;
    margin-bottom: 20px;
}

/* Группа формы */
.form-group {
    margin-bottom: 15px;
}

/* Метка */
label {
    font-size: 16px;
    color: #4B4B4B;
    display: block;
    margin-top: 10px;
}

/* Текстовое поле и input */
input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #D1E7D1;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

/* Кнопки */
button {
    background-color: #77B78D; /* Зеленый */
    color: white;
    padding: 14px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto; /* Кнопки не растягиваются */
    font-size: 16px;
    min-height: 44px;
    margin-top: 20px;
}

button:hover {
    background-color: #6BB9E3; /* Синий при наведении */
}

button:focus {
    outline: none;
}

/* Кнопка отмены */
.cancel-button {
    background-color: #B2E0F7; /* Нежно-голубой */
    color: #4B4B4B;
    margin-top: 10px;
}

.cancel-button:hover {
    background-color: #A1D1F3; /* Легкий синий при наведении */
}
