/* Общий стиль */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #FFF5E1, #B2E0F7); /* Градиентный фон */
    color: #4B4B4B;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Контейнер */
.container {
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

/* Заголовок */
header h1 {
    font-size: 36px; /* Увеличен размер */
    font-weight: 700;
    color: #8B5B29; /* Теплый коричневый */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для текста */
    letter-spacing: 1px; /* Немного увеличиваем межбуквенный интервал */
    text-transform: uppercase; /* Все буквы большие */
    animation: textAnimation 1.5s ease-in-out; /* Анимация */
}

/* Анимация для текста */
@keyframes textAnimation {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
    font-style: italic; /* Курсив для подзаголовка */
    color: #8B5B29; /* Теплый коричневый */
}


/* Кнопки ролей */
.role-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    background-color: #77B78D; /* Светло-зеленый */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    min-width: 180px;
    min-height: 60px;
    cursor: pointer;
}

.button i {
    margin-right: 10px;
    font-size: 24px;
}

.button:hover {
    background-color: #6BB9E3; /* Светло-синий при наведении */
    transform: translateY(-5px);
}

/* Подвал */
footer {
    margin-top: 40px;
    font-size: 14px;
    color: #8B5B29; /* Теплый коричневый */
}

/* Мобильная адаптивность */
@media (max-width: 768px) {
    .role-buttons {
        flex-direction: column;
        align-items: center;
    }

    .button {
        width: 100%;
        margin-bottom: 20px;
    }
}
