/* Общий стиль */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; /* Кремовый фон */
    color: #4B4B4B; /* Темно-серый текст */
}

/* Контейнер */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Заголовок */
header h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #77B78D; /* Светло-синий */
}

header p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Таблица */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    text-align: left;
    background-color: #FFF5E1; /* Кремовый фон */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.styled-table thead tr {
    background-color:#77B78D; /* Светло-синий */
    color: #FFFFFF; /* Белый текст */
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid black; /* Нежно-голубой */
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #FFF5E1;
}

.styled-table tbody tr:hover {
    background-color: whitesmoke;
}
.styled-table thead th:nth-child(1) {
    width: 100px; /* Ширина для столбца ID */
}

.styled-table thead th:nth-child(2) {
    width: 120px; /* Ширина для столбца Patient ID */
}

.styled-table thead th:nth-child(3) {
    width: 150px; /* Ширина для столбца Collection Date */
}

.styled-table thead th:nth-child(4) {
    width: 150px; /* Ширина для столбца Type */
}

.styled-table thead th:nth-child(5) {
    width: 150px; /* Ширина для столбца Delivery Date */
}

.styled-table thead th:nth-child(6) {
    width: 100px; /* Ширина для столбца Status */
}

.styled-table thead th:nth-child(7) {
    width: 180px; /* Ширина для столбца Storage Period (hours) */
}

.styled-table thead th:nth-child(8) {
    width: 400px; /* Ширина для столбца Actions */
    align-items: center;
}


/* Кнопки */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 8px;
    background-color: #77B78D; /* Светло-зеленый */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-align: center;
    cursor: pointer;
    width: 150px; /* Фиксированная ширина для всех кнопок */
     /* Фиксированная высота для всех кнопок */
}

.button:hover {
    background-color: #6BB9E3; /* Светло-синий при наведении */
}

.update-btn {
    background-color: #77B78D; /* Светло-зеленый для Update */
    margin-right: 15px; /* Расстояние между кнопками */
    margin-bottom: 15px;
    height: 50px;
    line-height: 40px; /* Центрирование текста по вертикали */


}

.send-btn {
    background-color: #77B78D; /* Светло-зеленый для Send to Nurse */
    height: 50px;
    line-height: 40px; /* Центрирование текста по вертикали */
 
}

/* Устранение дополнительных отступов после последней кнопки */
.styled-table td button:last-child {
    margin-right: 0; /* Убираем отступ у последней кнопки */
}

/* Подвал */
footer {
    margin-top: 40px;
    font-size: 14px;
    color: #8B5B29; /* Теплый коричневый */
}

.apply-button{
    background-color: #77B78D;
    height: 200px;
    width: 150px;
    line-height: 1; /* Устанавливает расстояние между строками */
    padding: 5px 10px; /* Настраивает внутренние отступы для кнопки */
    font-size: 14px; /* Убедитесь, что размер шрифта комфортный */
    text-align: center; /* Центрирует текст на кнопке */
}
