<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form th:action="@{/auth/login}" th:object="${user}" method="post">

        <label for="name">Username:</label>
        <input type="text" id="name" th:field="*{user.username}" required /><br/>

        <label for="surname">Password:</label>
        <input type="text" id="surname" th:field="*{user.password}" required /><br/>

        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>