<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Reports</title>
    <link rel="stylesheet" th:href="@{/css/tables.css}">
</head>
<body>
<header>
    <h1>Medical reports</h1>
</header>
<div class="container">
    <table class="styled-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Research ID</th>
            <th>StaffMember ID</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${reports}">
            <td th:text="${report.medicalReportId}"></td>
            <td th:text="${report.staffMember.id}"></td>
            <td th:text="${report.result}"></td>
        </tr>
        </tbody>
    </table>
</div>

<footer>
    <p align="center">&copy; 2025 HealthCare System. All rights reserved.</p>
</footer>
<script>
    function sendToDoctor(reportId) {
        if (confirm('Are you sure you want to send this report to the doctor?')) {
            fetch(`/medical-reports/send/${reportId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {
                        alert('Report sent to doctor successfully.');
                        location.reload();
                    } else {
                        alert('Failed to send report.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while sending report.');
                });
        }
    }

</script>
</body>
</html>