<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
</head>
<body>
<h1>Register as Candidate</h1>
<form th:action="@{/register}" th:object="${candidate}" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{person.name}" required /><br/>

  <label for="surname">Surname:</label>
  <input type="text" id="surname" th:field="*{person.surname}" required /><br/>

  <label for="gender">Gender:</label>
  <select id="gender" th:field="*{person.gender}">
    <option value="M">Male</option>
    <option value="F">Female</option>
  </select><br/>
  <label for="ContactInfo">Contact Info:</label>
  <input type="text" id="contactInfo" th:field="*{person.contactInfo}" required /><br/>

  <label for="wantPosition">Desired Position:</label>
  <input type="text" id="wantPosition" th:field="*{wantPosition}" required /><br/>

  <label for="qualification">Qualification:</label>
  <input type="text" id="qualification" th:field="*{qualification}" required /><br/>

  <label for="experience">Experience (years):</label>
  <input type="number" id="experience" th:field="*{experience}" required /><br/>

  <button type="submit">Register</button>
</form>
</body>

</html>

