<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Staff Registration Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/patient-dashboard.css}">
</head>
<body>
<div class="dashboard-container">
  <header>
    <h1>Staff Member Dashboard</h1>
  </header>
  <section class="profile-info">
    <h2>Personal Information</h2>
    <p><strong>Name:</strong> <span th:text="${staffMember.person.name}">John Doe</span></p>
    <p><strong>Surname:</strong> <span th:text="${staffMember.person.surname}">Doe</span></p>
    <p><strong>Birth Date:</strong> <span th:text="${staffMember.person.birthDate}">01/01/1980</span></p>
    <p><strong>Gender:</strong> <span th:text="${staffMember.person.gender}">Male</span></p>
    <p><strong>Contact Info:</strong> <span th:text="${staffMember.person.contactInfo}">john.doe@example.com</span></p>
  </section>

  <section class="staff-info">
    <h2>Staff Information</h2>
    <p><strong>Position:</strong> <span th:text="${staffMember.position}">Admin</span></p>
    <p><strong>Qualification:</strong> <span th:text="${staffMember.qualification}">PhD in Genetics</span></p>
  </section>

  <div class="actions">
    <button th:onclick="|window.location.href='@{/staff-members/edit/{id}(id=${staffMember.id})}'|">Edit Profile</button>
    <button th:onclick="|window.location.href='@{/staff-members/delete/{id}(id=${staffMember.id})}'|">Delete Profile</button>
    <button th:if="${staffMember.position == 'Geneticist'}"
            th:onclick="|window.location.href='@{/biomaterials/all}'|">
      Information about biomaterials
    </button>
    <button th:if="${staffMember.position == 'Nurse'}"
            th:onclick="|window.location.href='@{/biomaterials/expired}'|">
      Information about expired biomaterials
    </button>

    <button th:if="${staffMember.position == 'Treating doctor'}"
            th:onclick="|window.location.href='@{/patients/show}'|">
      Medical records
    </button>
    <button th:if="${staffMember.position == 'Admin'}"
            th:onclick="|window.location.href='@{/vacancies}'|">
      Manage Vacancies
    </button>
  </div>
</div>
</body>
</html>
