<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Staff Member Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/patient-dashboard.css}">
</head>
<body>
<div class="dashboard-container">
  <header>
    <h1>Welcome, <span th:text="${staffMember.person.name}">John Doe</span>!</h1>
  </header>

  <section class="profile-section">
    <div class="profile-header">
      <div class="profile-photo">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 24 24" fill="none" stroke="#4B4B4B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="7" r="4"></circle>
          <path d="M5.5 21a9.5 9.5 0 0 1 13 0"></path>
        </svg>
      </div>
      <div class="profile-details">
        <h2>Personal Information</h2>
        <p><strong>Name:</strong> <span th:text="${staffMember.person.name}">John Doe</span></p>
        <p><strong>Surname:</strong> <span th:text="${staffMember.person.surname}">Doe</span></p>
        <p><strong>Birth Date:</strong> <span th:text="${staffMember.person.birthDate}">01/01/1980</span></p>
        <p><strong>Gender:</strong> <span th:text="${staffMember.person.gender}">Male</span></p>
        <p><strong>Contact Info:</strong> <span th:text="${staffMember.person.contactInfo}">john.doe@example.com</span></p>
      </div>
    </div>
  </section>

  <section class="additional-info">
    <h2>Staff Information</h2>
    <p><strong>Position:</strong> <span th:text="${staffMember.position}">Admin</span></p>
    <p><strong>Qualification:</strong> <span th:text="${staffMember.qualification}">PhD in Genetics</span></p>
  </section>

  <div class="actions">
    <a th:href="@{/auth/login}" class="button">
      <span class="icon-logout"></span> Log out
    </a>
    <button th:if="${staffMember.position == 'Geneticist'}"
            th:onclick="|window.location.href='@{/biomaterials/lab}'|">
      Information about biomaterials
    </button>
    <button th:if="${staffMember.position == 'Geneticist'}"
            th:onclick="|window.location.href='@{/researches/all}'|">
      Researches
    </button>
    <button th:if="${staffMember.position == 'Geneticist' || staffMember.position == 'Treating doctor'}"
            th:onclick="|window.location.href='@{/medical-reports}'|">
      Medical reports
    </button>
    <button th:if="${staffMember.position == 'Nurse'}"
            th:onclick="|window.location.href='@{/biomaterials/expired}'|">
      Expired biomaterials
    </button>
    <button th:if="${staffMember.position == 'Admin'}"
            th:onclick="|window.location.href='@{/vacancies}'|">
      Manage Vacancies
    </button>
    <button th:if="${staffMember.position == 'Technician'}"
            th:onclick="|window.location.href='@{/biomaterials/create}'|">
      Biomaterial Sampling
    </button>
    <button th:if="${staffMember.position == 'Technician'}"
            th:onclick="|window.location.href='@{/research-registrations/all}'|">
      Research Registrations
    </button>
    <button th:if="${staffMember.position == 'Technician'}"
            th:onclick="|window.location.href='@{/biomaterials/all}'|">
      Sending biomaterials
    </button>
    </button>

    <button th:if="${staffMember.position == 'Treating doctor'}"
            th:onclick="|window.location.href='@{/patients/showPage}'|">
      Medical records
    </button>

    <button th:if="${staffMember.position == 'Geneticist' || staffMember.position == 'Technician'}"
            th:onclick="|window.location.href='@{/patients/show}'|">
      Medical records
    </button>


  </div>
</div>
</body>
</html>
