<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vacancies</title>
  <link rel="stylesheet" th:href="@{/css/vacancies.css}">
</head>
<body>
<div class="vacancies-container">
  <h1>Available Vacancies</h1>

  <ul>
    <li th:each="vacancy : ${vacancies}">
      <div class="vacancy">
        <h2 th:text="${vacancy.position}"></h2>
        <p><strong>Requirements:</strong> <span th:text="${vacancy.requirements}"></span></p>
        <p><strong>Opening Date:</strong> <span th:text="${vacancy.openingDate}"></span></p>
        <p><strong>Salary:</strong> <span th:text="${vacancy.minSalary}"></span></p>
        <p><strong>Status:</strong> <span th:text="${vacancy.status}"></span></p>
        <p><strong>Employment Type:</strong> <span th:text="${vacancy.typeOfEmployment}"></span></p>

        <!-- Кнопка отклика на вакансию -->
        <button class="apply-button" th:onclick="'applyToVacancy(' + ${vacancy.id} + ')'" >Apply</button>

        <hr/>
      </div>
    </li>
  </ul>
</div>
</body>
</html>
