<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Healthcare System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <h1>Welcome to the Healthcare System</h1>
</header>
<main>
    <p>Your one-stop solution for managing healthcare data and services.</p>
    <p><a th:href="@{/patients}">View Patients</a></p>
</main>
<footer>
    <p>&copy; 2025 Healthcare System. All rights reserved.</p>
</footer>
</body>
</html>
